# Data Preprocessing:

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('e.csv')

In [4]:
data

                                                   text    label
0     Just got back from seeing @GaryDelaney in Burs...      joy
1     Oh dear an evening of absolute hilarity I don'...      joy
2     Been waiting all week for this game ‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è #ch...      joy
3     @gardiner_love : Thank you so much, Gloria! Yo...      joy
4     I feel so blessed to work with the family that...      joy
...                                                 ...      ...
3608  @VivienLloyd Thank you so much! Just home - st...  sadness
3609              Just put the winter duvet on ‚òÉÔ∏è‚ùÑÔ∏èüå¨‚òîÔ∏è   sadness
3610  @SilkInSide @TommyJoeRatliff that's so pretty!...  sadness
3611  @BluesfestByron second artist announcement loo...  sadness
3612  I can literally eat creamy pesto pasta topped ...  sadness

[3613 rows x 2 columns]

Before removing the null data

In [5]:
data.shape

(3613, 2)

After removing the null data

In [6]:
df = data.dropna()

In [7]:
df.shape

(3613, 2)

In [8]:
df.isnull().sum()

text     0
label    0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3613 entries, 0 to 3612
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    3613 non-null   object
 1   label   3613 non-null   object
dtypes: object(2)
memory usage: 84.7+ KB

In [10]:
df.columns

Index(['text', 'label'], dtype='object')

In [11]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
3608    False
3609    False
3610    False
3611    False
3612    False
Length: 3613, dtype: bool

In [12]:
df.duplicated().sum()

0

In [14]:
df.text.unique()

array(['Just got back from seeing @GaryDelaney in Burslem. AMAZING!! Face still hurts from laughing so much #hilarious',
       "Oh dear an evening of absolute hilarity I don't think I have laughed so much in a long time! üòÇ",
       'Been waiting all week for this game ‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è #cheer #friday ‚ù§Ô∏è',
       ...,
       "@SilkInSide @TommyJoeRatliff that's so pretty! I love the sky in the background and the purple highlights with the dull colors is great",
       '@BluesfestByron second artist announcement looking good #bluesfest2017 #blues #Music #byronbay',
       'I can literally eat creamy pesto pasta topped with grilled chicken, sun dried tomatoes, asparagus and pine nuts every single day of my life'],
      dtype=object)

In [16]:
df.label.unique()

array(['joy', 'fear', 'anger', 'sadness'], dtype=object)

In [18]:
df.label.value_counts()

fear       1147
anger       857
joy         823
sadness     786
Name: label, dtype: int64

In [19]:
df.columns

Index(['text', 'label'], dtype='object')

Before LabelEncoder

In [20]:
df.head()

                                                text label
0  Just got back from seeing @GaryDelaney in Burs...   joy
1  Oh dear an evening of absolute hilarity I don'...   joy
2  Been waiting all week for this game ‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è #ch...   joy
3  @gardiner_love : Thank you so much, Gloria! Yo...   joy
4  I feel so blessed to work with the family that...   joy

After LabelEncoder

In [22]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['text']
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i]).astype(int)

In [23]:
df.head()

   text label
0  2345   joy
1  2579   joy
2  1595   joy
3  1080   joy
4  2025   joy

In [24]:
df.corr()

      text
text   1.0